.header {
    background: linear-gradient(135deg, #6366f1, #8b5cf6);
    padding: 1.5rem 0;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 80%;
    margin: 0 auto;
}

.titleBlock {
    display: flex;
    flex-direction: column;
}

.title {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 600;
}

.counterText {
    color: #e0e7ff;
}

.counter {
    display: inline-block;
    color: #ff8585;
    font-size: 0.85rem;
    font-weight: 400;
    /* padding: 0 0.25rem; */
    width: fit-content;
}